@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

html {
    color: #273746;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover { color: #3498DB; }


.block { display: block; }
.fw { width: 100%; }

div,
.block { box-sizing: border-box; }

/* Текст */
.ta-center { text-align: center; }
.ta-left { text-align: left; }
.ta-right { text-align: right; }

.bold { font-weight: bold; }

/* Цвет */
.grey { color: #ABB2B9; }
.green { color: #4abfb4; }